---
layout: default
---

{% include home-header.html %}

<div class="posts">
  {% for post in paginator.posts %}
  <article class="post-blog-card">
    <div class="post-card-header">
      <h2 class="post-card-title">
        <a href="{{ post.url | relative_url }}">
          {{ post.title }}
        </a>
      </h2>
    </div>

    <div class="post-card-meta">
      <div class="meta-item">
        <i class="far fa-calendar-alt"></i>
        <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %d, %Y" }}</time>
      </div>
      {% if post.categories %}
      <div class="meta-item">
        <i class="far fa-folder"></i>
        {{ post.categories | first }}
      </div>
      {% endif %}
      {% assign words = post.content | number_of_words %}
      <div class="meta-item">
        <i class="far fa-clock"></i>
        {% if words < 360 %}
          1 min read
        {% else %}
          {{ words | divided_by:180 }} min read
        {% endif %}
      </div>
    </div>

    <div class="post-card-excerpt">
      {{ post.excerpt | strip_html | truncatewords: 40 }}
    </div>

    {% if post.tags.size > 0 %}
    <div class="post-card-tags">
      {% for tag in post.tags %}
        <a href="{{ site.baseurl }}/tags#{{ tag | slugify }}" class="tag">{{ tag }}</a>
      {% endfor %}
    </div>
    {% endif %}
  </article>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | relative_url }}" class="prev">
      <i class="fas fa-chevron-left"></i> Previous
    </a>
  {% endif %}
  
  {% if paginator.page_trail %}
    {% for trail in paginator.page_trail %}
      {% if page.url == trail.path %}
        <span class="current">{{ trail.num }}</span>
      {% else %}
        <a href="{{ trail.path | relative_url }}">{{ trail.num }}</a>
      {% endif %}
    {% endfor %}
  {% else %}
    <span class="current">{{ paginator.page }}</span>
  {% endif %}
  
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | relative_url }}" class="next">
      Next <i class="fas fa-chevron-right"></i>
    </a>
  {% endif %}
</div>
